:root {
    --egg: #F0EBD5;
    --white: rgba(255, 255, 255);
    --whitesmoke: whitesmoke;
    --button-colour: #F0E1C9;
    --Montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--Montserrat);
    min-height: 800px;
    margin: 0;
    background: var(--whitesmoke);
    font-size: 16px;
}

.social-media {
    display: flex;
    float: right;
    width: 25%;
}

.top-logo {
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.empty-container {
    display: flex;
    float: left;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    list-style: none;
    margin-top: 0;
}

.nav-bar {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    background-color: var(--white);
    overflow: hidden;
    height: 30px;
}

.top-nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 100px 0 100px;
}

.top-nav a.active {
    background-color: var(--white);
    border: 5px solid var(--button-colour);
}

.top-nav a:hover{
    box-shadow: 0 2px 2px 0 var(--button-colour);
    transform: translateY(-3px);
    opacity: 0.8;
}

.pic {
    opacity: 0.9;
    width: 25px;
    height: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    cursor: pointer;
}

.contact-form{
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
}

.image-container{
    display: flex;
    float: left;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}

.client-details{
    background: var(--white);
    border: none;
    margin-top: 5px;
    width: 300px;
    height: 20px;
    border-radius: 30px;
}

.client-details:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-1px);
    background-color: var(--button-colour);
}

.client-message{
    margin-top: 5px;
    width: 300px;
    height: 100px;
    border-radius: 3px;
}

#submit-button{
    margin-top: 20px;
    background: var(--button-colour);
    height: 25px;
    width: 300px;
    position: center;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}

#submit-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-1px);
    background-color: var(--button-colour);
}

.follow-for-more{
    margin-top: 100px;
    font-size: 16px;
}

.follow-socials li{
   list-style-type: none;
    display: inline-block;
    padding-left: 40px;
}

.follow-socials img{
    height: 30px;
    width: 30px;
}

#follow-us{
    padding-left: 0;
}
