
:root {
    --egg: #F0EBD5;
    --white: rgba(255, 255, 255);
    --whitesmoke: whitesmoke;
    --button-colour: #F0E1C9;
    --Montserrat: 'Montserrat', sans-serif;
}

body {
    font-family: var(--Montserrat);
    min-height: 800px;
    margin: 0;
    background: var(--whitesmoke);
}

.social-media {
    display: flex;
    float: right;
    width: 25%;
}

.top-logo {
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.empty-container {
    display: flex;
    float: left;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    list-style: none;
    margin-top: 0;
}

.nav-bar {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    background-color: var(--white);
    overflow: hidden;
    height: 30px;
}

.top-nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 0 100px 0 100px;
}

.top-nav a.active {
    background-color: var(--white);
    border: 5px solid var(--button-colour);
}

.top-nav a:hover{
    box-shadow: 0 2px 2px 0 var(--button-colour);
    transform: translateY(-3px);
    opacity: 0.8;
}

.pic {
    opacity: 0.9;
    width: 25px;
    height: 25px;
    padding-left: 25px;
    padding-top: 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    cursor: pointer;
}

.card-divs{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.card {
    /* Add shadows to create the "card" effect */
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
    width: 400px;
    height: 200px;
    margin-left: 15px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-3px);
    opacity: 0.8;
}

/* Add some padding inside the card container */
.container {
    padding: 2px;
    width: 400px;
}

.card-images {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.button a{
    text-decoration: none;
    border: 2px solid var(--button-colour);
    border-radius: 30px;
    font-size: 20px;
    color: black;
    padding: 0 30px 0 30px
}

.button a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-1px);
    background-color: var(--button-colour);
}

#highlight-button{
    background-color: var(--button-colour) ;
    color: black;
}



#pic1,
#pic2,
#pic3 {
    width: 98%;
    height: auto;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 30px;
    box-shadow: 10px rgba(0, 0, 0, 0.9);
    /* opacity: 1; */
    border: 5px solid var(--egg);


}

.hover1:hover .pic-div1 {

    opacity: 0.7;
}



.hover2:hover .pic-div2 {

    opacity: 0.7;
}


.hover3:hover .pic-div3 {

    opacity: 0.7;
}


.gallery-message {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
    background-color: var(--white);
    border-top: 2px solid var(--egg);
    border-bottom: 2px solid var(--egg);

}

.modal {

    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
    border-radius: 30px;



}

.open {

    opacity: 1;
    pointer-events: all;
    z-index: 2;
    border-radius: 20px;
    border: 5px solid var(--egg);



}

.modal p {

    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    border-radius: 30px;


}

.full-img {

    position: absolute;
    height: 80%;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease-out;


}

.full-img.open {

    transform: translate(-50%, -50%) scale(1);

}

.gallery-container {

    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whitesmoke);
    margin-right: 5%;
    margin-left: 2%;

}

.grid-container {

    display: grid;
    grid-template-columns: 30% 40.4% 30%;
    row-gap: 20px;
    column-gap: 15px;
    background-color: white;
    background-color: var(--whitesmoke);


}

.slot1 {


    width: 100%;
    height: 20%;


}

.slot2 {


    width: 100%;
    height: 40%;

}

.slot3 {


    width: 100%;
    height: 20%;


}

.pic-div1 {

    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.pic-div2 {

    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;



}

.pic-div3 {

    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;


}

.BT-button:hover .button-icon {

    opacity: 1.5;
}



.button-icon {

    position: fixed;
    right: 30px;
    bottom: 50px;
    height: 5%;
    width: 3%;
    opacity: 0.5;

}

.BT-button {

    position: fixed;
    right: 30px;
    bottom: 50px;
}