:root {
    --egg: #F0EBD5;
    --white: rgba(255, 255, 255);
    --whitesmoke: whitesmoke;
    --Montserrat: 'Montserrat', sans-serif;
    --Open-sans: 'Open Sans', sans-serif;
    --Roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--Montserrat);
    min-height: 100vh;
    margin: 0;
    background: var(--whitesmoke);
}

.social-media {
    display: flex;
    float: right;
    width: 25%;
    align-items: center;
    transform: translateY(30%);
}

.top-logo {
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.empty-container{
    display: flex;
    float: left;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    list-style: none;
    margin-top: 1vh;
    padding-left: 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 35%;
}

.nav-bar {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    background-color: var(--white);
    overflow: hidden;
    height: 6vh;
}

.top-nav a {
    color: black;
    padding: 2vh 5vw;
    font-size: 3vh;
    justify-content: center;
    text-decoration: none;
    margin: auto;
}

.top-nav a.active {
    background-color: var(--white);
    border: 10px solid var(--egg);
}

.pic {
    opacity: 0.9;
    width: 2vw;
    height: 4vh;
    padding-left: 2vw;
    padding-top: 10vh;
}

.contact-form{
    display: flex;
    float: right;
    width: 50%;
    justify-content: center;
    font-size: 1.5vw;
    font-family:'Montserrat', sans-serif;
}

.label{
    font-weight: bold;
}

.image-container{
    display: flex;
    float: left;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 1.5vw;
}

.contact-details{
    font-size: 1.5vw;
}

.client-details{
    margin-top: 2vh;
    width: 70%;
    height: 5vh;
    font-size: 4vh;
    border-radius: 7px;
}
.client-message{
    margin-top: 2vh;
    width: 70%;
    height: 15vh;
    font-size: 4vh;
    border-radius: 3px;
}

#submit-button{
    margin-top: 5vh;
    background: var(--egg);
    height: 6vh;
    width: 71%;
    position: center;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1vw;
    cursor: pointer;
}

.button-icon {
    position: fixed;
    height: 5%;
    width: 4%;
    right: 2%;
    bottom: 5%;
}
.BT-button {
    height: 50px;
    width: 50px;
}

#bottom-social-media{
    justify-content: center;
}

#bottom-social-media .pic{
    padding: 2vw;
}
