:root{
    --pink: rgb(238, 174, 202);
    --lightpink: rgba(255, 224, 238, 1);
    --white: rgba(255, 255, 255);
}

.top_nav{
    display: flex;
    background-color: var(--pink);
    overflow: hidden;
    justify-content: center;
}

.top_nav a{
    color: var(--white);
    padding: 10px 90px;
    font-size: 18px;
    justify-content: center;
    text-decoration: none;
}

#header{
    display: flex;
    margin: auto;
    width: 100vw;
    justify-content: center;
}

.pic{
    width: 20px;
    height: 20px;
    padding-left: 20px;
}

#logo{
    height: 30vh;
    width: 15vw;
}